# Data
data/raw/
!data/raw/.gitkeep
data/processed/
!data/processed/.gitkeep 
data/huggingface/
!data/huggingface/.gitkeep

# Environment
venv/
.env
.python-version

# Build/install
build/
dist/
*.egg-info/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Preserve directory structure
*/*/
!*/*/.gitkeep